body {
  background: #111;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "andika";
  src: url("./assets/fonts/AndikaNewBasic-Regular.ttf");
}
* {
  font-family: "andika" !important;
}
html,
body {
  overflow-x: hidden;
}
